.topmast {
    height: 115px;
    padding-top: 0px;
    background: #3580ca url("../img/top-bg-grasses.gif") repeat-x center bottom;
}

@media (max-width: 992px) {
    .ps-banner h1 {
        display: none;
    }
}

.ps-banner h1 {
    margin-top: 15px;
    font-size: 50px;
    color: #fcb13f;
}

/* for header site logo  */

.parks_bg_banner .col-lg-9 {
    display: flex !important;
    align-items: center !important;
    padding-left: 2em;
}

.parks_bg_banner .col-lg-9 h1 {
    font-size: 2.7em;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.left-buffer {
    margin-left: 20px;
}

.right-buffer {
    margin-right: 20px;
}

.ps-breadcrumbs {
    background-color: white;
    margin-top: -20px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0px;
}

.horizontal-scroll {
    overflow-x: scroll;
}

.modal-header {
    background-color: #529b6b;
    color: #fcb13f;
}

.modal-body {
    background-color: #529b6b;
    color: #fff;
}

.modal-footer {
    background-color: #529b6b;
}

.popover {
    max-width: 100%;
}
