{% extends "ledgerui/accounts_base_b5.html" %}
{% load static %}
{% load django_vite %}
{% load tagutils %}

{% block myaccount_nav %}
<button class="nav-link managed-account-nav" id="nav-organisation-tab" data-bs-toggle="tab" data-bs-target="#nav-organisation" type="button" role="tab" aria-controls="nav-organisation" aria-selected="false">Organisation</button>
{% endblock %}
{% block additional_content %}
<div id="nav-organisation-tab-page" style="display:none;">
    <div id="app"></div>
</div>

{% endblock %}

{% block custom_js %}
{% if DJANGO_VITE_DEV_MOD %}
{% vite_asset vue3_entry_script app='default' %}
{% else %}
{% vite_asset_sri "src/main.js" %}
{% endif %}
{% endblock custom_js %}